
.xcp_picker {
	position: absolute;
	z-index: 5;
	background-color: #444;
	padding: 0.5em;
	border-radius: 5px;
	box-shadow: 0 1px 25px rgba(0,0,0,0.5);
	font-family: sans-serif;
	font-size: 12px;
}

.xcp_main {
	display: flex;
	height: 20em
}

.xcp_color {
	background-color:red;
	cursor: crosshair;
	position: relative;
	width: 20em;
}


.xcp_hue,
.xcp_hue_marker.xcp_mark,
.xcp_alpha,
.xcp_alpha_marker.xcp_mark {
	width: 2em;
}


.xcp_hue {
	background: -webkit-linear-gradient(top,#F00 0%,#F0F 16.6%,#00F 33.3%,#0FF 50%,#0F0 66.7%,#FF0 83.3%,#F00 100%);
	background: -moz-linear-gradient(top,#F00 0%,#F0F 16.6%,#00F 33.3%,#0FF 50%,#0F0 66.7%,#FF0 83.3%,#F00 100%);
	position: relative;
	margin-left: 0.5em;
}

.xcp_alpha {
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%),
					  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAASklEQVRIS+3UMQ4AMAgCQPiE/3+ck09wqWs34triTEJyIbK7DxZXVYs0QBcoLxMpIa9ICr1AlJmrXxQR2uVK0AXKy0RKCCb6gGgAnmd/ObCz3Z4AAAAASUVORK5CYII=);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%),
					  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAASklEQVRIS+3UMQ4AMAgCQPiE/3+ck09wqWs34triTEJyIbK7DxZXVYs0QBcoLxMpIa9ICr1AlJmrXxQR2uVK0AXKy0RKCCb6gGgAnmd/ObCz3Z4AAAAASUVORK5CYII=);
	position: relative;
	margin-left: 0.5em;
}

.xcp_saturation {
	width:100%;
	height:100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	position: absolute;
}

.xcp_value {
	width:100%;
	height:100%;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	position: relative;

}


.xcp_point {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	position:absolute;
	cursor:crosshair;
	border:1px solid rgba(255,255,255,0.5);
	margin-left: -6px;
	margin-top: -6px;
}


.xcp_color,
.xcp_hue,
.xcp_alpha,
.xcp_before,
.xcp_result {
	border: 1px solid #666;
}


.xcp_mark{
	position:absolute;
	width:0px;
	height:0px;
	left:-1px;
	top:-1px;
	border:1px solid rgba(255,255,255,0.4);
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

.xcp_hue_marker,
.xcp_alpha_marker {
	cursor:row-resize;
	margin-top: -1px;
}

.xcp_saturation_marker {
	cursor:col-resize;
	height: 100%;
	margin-left: -2px;
}

.xcp_value_marker {
	cursor:row-resize;
	width: 100%;
	margin-top: -1px;
}


.xcp_footer {
	display: flex;
	height: 2em;
	margin-top: 0.5em;
}

.xcp_before,
.xcp_result {
	width: 2em;
}

.xcp_arrow {
	border-left: 1em solid #666;
	border-top: 0.5em solid transparent;
	content: "";
	border-bottom: 0.5em solid transparent;
	align-self: center;
	margin: 0.5em;
}

.xcp_fields {
	flex: 1;
}

.xcp_button {
	margin-left: 5px;
	border: 0;
	background-color: #aaa;
	color: #000;
	cursor: pointer;
	padding: 0 1em;
	font-size: 1em;
}
.xcp_button:hover {
	background-color: #ccc;
}


.xcp_picker .output {
	color: #888;
	margin-left: 0.5em;
	font-size: 0.6em;
}

